nav{
    display: flex;
    margin: 40px;
}

.premierclass{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.comparto{
    margin: 5px;
    font-size: 45px;
    color: white;
    background-color: rgb(100, 100, 240);
    text-align: center;
    width: 25%
    
}

.sousdiv{    
    margin: 5px;
    display: flex;
    justify-content: end;
    background-color: rgb(231, 222, 231);
    width: 75%;
}

.elements1{
    background-color: rgb(252, 157, 141);
    color: rgb(255, 255, 255);
    margin: 10px;
    margin-top: 20px;

    text-align: center;
    width: 125px;
}

.elements2{
    background-color: white;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    width: 125px;
}

.elements3{
    background-color: white;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    width: 125px;
}

.elements4{
    background-color: white;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    width: 125px;
}

.presentation{
    margin: 20px;
}

.titre03{
    
    background-color: rgb(50, 112, 206);
}

.titre04{
    background-color: yellowgreen;
    text-align: center;
}

.separation{
    background-color: rgb(98, 148, 255);
}

.compartolayout{
    background-color: rgb(176, 176, 192);
    margin: 10px;
    padding: 45px;
    font-size: 24px;
}

img{
    margin: 10px;
}

.pourlesdeux{
    display: flex;
    flex-direction: column;
}

.emoji{
    background-color: rgb(191, 123, 197);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.compartolayout button{
    background-color: #c05e5e; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}