body{
    margin: 30px;
}

nav{
    display: flex;
    margin: 30px;
}

.premierclass{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.comparto{
    margin-right: 20px;
    font-size: 45px;
    color: white;
    background-color: rgb(100, 100, 240);
    text-align: center;
    width: 25%
    
}

.sousdiv{    
    
    display: flex;
    justify-content: end;
    background-color: rgb(231, 222, 231);
    width: 75%;
}

.elements1{
    background-color: rgb(252, 157, 141);
    color: rgb(255, 255, 255);
    margin: 10px;
    margin-top: 20px;

    text-align: center;
    width: 125px;
}

.elements2{
    background-color: white;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    width: 125px;
}

.elements3{
    background-color: white;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    width: 125px;
}

.elements4{
    background-color: white;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    width: 125px;
}

.titre03{
    background-color: rgb(50, 112, 206);
}


.titre04{
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    color: white;
}

.separation{
    background-color: rgb(98, 148, 255);
}

.compartolayout{
    background-color: rgb(176, 176, 192);
    margin-left: 20px;
    padding: 45px;
    font-size: 24px;
}

/* img{
    margin: 10px;
} */

.pourlesdeux{
    display: flex;
    flex-direction: column;
    margin-right: 27px;
    justify-content: space-between;
}



.emoji{
    background-color: rgb(191, 123, 197);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    color: white;
}

.compartolayout button{
    background-color: #c05e5e; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.compartolayout1 button{
    background-color: #494949; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.compartolayout1{
    background-color: rgb(176, 176, 192);
    /* margin: 10px; */
    padding: 45px;
    font-size: 24px;
}

.classzzz{
    background-color: rgb(176, 176, 192);
    /* margin: 10px; */
    padding: 45px;
    font-size: 27px;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.separationbleu{
    background-color: rgb(50, 112, 206);
}

.separationvert{
    background-color: yellowgreen;
}

.classzzz{
    margin-left: 20px;
    font-size: 16px;
}

button:hover{
    background-color: rgba(0, 136, 169, 0);
}

.classzzz button{
    background-color: #7bc241; 
    border: none;
    color: white;
    padding: 13px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.icone{
    text-align: center;
}

.icone img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.sectionimage img{
    width: 190px;
    height: 190px;
    object-fit: cover;
margin: 30PX;
}

.sectionimage{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
}

.titre03{
    display: flex;
    flex-direction: column;
}

.titre{
    text-align: end;
    margin-right: 25px;
}

.liste{
    display: flex;
    flex-direction: row;
}
nav ul{
    padding: 0;
    /* text-align: end; */
    margin: 0;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    text-align: center;
}

.emoji img{
    margin-top: 20px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}